.node{
    width:  25px;
    height: 25px;
    outline: 1px solid rgb(3, 6, 26);
    display: inline-block;
    resize: both;
   
}
.node-start{
    background-color: blue;
}
.node-finish{
    background-color: crimson;
}
.node-wall{
    background-color: rgb(12, 53, 71)
}
.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(93, 93, 158, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(49, 97, 160, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(12, 185, 197, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(124, 130, 214, 0.75);
  }
}
.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.3);
    background-color: rgb(125, 185, 98);
  }

  50% {
    transform: scale(0.8);
    background-color: rgb(71, 119, 38);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 187, 149);
  }
  100% {
    transform: scale(1);
    background-color: rgb(39, 190, 25);
  }
}